button, select, input {
    display: inline-block;
}

.Dishes-item {
    margin-top: 20px;
}

li span {
    margin-right: 5px;
}

.name {
    margin: 0 10px 10px 0;
}

.Ingredients {
    margin: 20px 0 10px 0;
}

.Ingredients-item {
    margin-top: 10px;
}

.Ingredients-delete {
    margin-left: 3.5px;
}