{% extends 'control/Base.html' %}

{% load static %}

{% block title %}Dishes{% endblock %}

{% block include %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/control/Index.css' %}">

    <script type="text/javascript" src="{% static 'js/control/Index.js' %}"></script>
{% endblock %}

{% block body_classes %}Index{% endblock %}

{% block content %}
    <h1>Список блюд</h1>

    <ul class="Dishes">

        <li class="Dishes-item Dishes-add">
            <span>Название</span><input class="Dishes-name name">

            <h3>Ингредиенты:</h3>
            <ul class="Ingredients">
                <li class="Ingredients-item Ingredients-add">
                    <span>Название</span><select class="name">
                        {% for ingredient in ingredients %}
                            <option value="{{ ingredient.name }}">{{ ingredient.name }}</option>
                        {% endfor %}
                    </select><span>Количество</span><input class="count">
                    <button class="Ingredients-addButton">Добавить</button>
                </li>
            </ul>
            <button class="Dishes-addButton">Добавить</button>
        </li>

        {% for dish in dishes %}
            <li class="Dishes-item">
                <input class="name" value="{{ dish.name }}" data-id="{{ dish.id }}"><button class="Dishes-delete">Удалить</button>

                <h3>Ингредиенты:</h3>
                <ul class="Ingredients">
                    <li class="Ingredients-item Ingredients-add">
                        <span>Название</span><select class="name">
                        {% for ingredient in ingredients %}
                            <option value="{{ ingredient.name }}">{{ ingredient.name }}</option>
                        {% endfor %}
                    </select><span>Количество</span><input class="count">
                        <button>Добавить</button>
                    </li>
                    {% for ingr in dish.ingredients %}
                        <li class="Ingredients-item">
                            <span>Название</span><input class="name" value="{{ ingr.name }}">
                            <span>Количество</span><input class="count" value="{{ ingr.count }}"><button class="Ingredients-delete">Удалить</button>
                        </li>
                    {% endfor %}
                </ul>

                <button class="save">Сохранить изменения</button>
            </li>
        {% endfor %}
    </ul>

    <button>Экспорт в excel</button>
{% endblock %}