{% extends 'control/Base.html' %}

{% load static %}

{% block title %}Ingredients{% endblock %}

{% block include %}
        <script type="text/javascript" src="{% static 'js/control/Ingredient.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/control/Ingredients.css' %}">
{% endblock %}

{% block body_classes %}Ingredients{% endblock %}

{% block content %}
    <h1>Список ингредиентов</h1>

    <ul class="Ingredients">

        <li class="Ingredients-item Ingredients-add">
            <span>Название</span><input class="name">
            <button class="Ingredients-addButton">Добавить</button>
        </li>

        {% for ingr in ingredients %}
            <li class="Ingredients-item" data-id="{{ ingr.id }}">
                <span>Название</span><input class="name" value="{{ ingr.name }}"><button class="save">Сохранить</button><button class="delete">Удалить</button>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'control:api:ingredients_export' %}">Экспорт ингредиентов в excel</a>
{% endblock %}