<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="csrf-token" content="{{ csrf_token }}">

        <title>Restaraunt - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/TopNav.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Common.css' %}">

        <script type="text/javascript" src="{% static 'js/libs/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/Common.js' %}"></script>
        {% block include %}{% endblock %}
    </head>
    <body class="{% block body_classes %}{% endblock %}">
        {% include 'front/components/TopNav.html' %}
        <div class="Content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>