{% extends 'front/Base.html' %}

{% load static %}

{% block title %}Menu{% endblock %}

{% block include %}
    <script type="text/javascript" src="{% static 'js/front/Index.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/front/Index.css' %}">
{% endblock %}

{% block body_classes %}Index{% endblock %}

{% block content %}
    <ul class="Dishes">
        {% for dish in dishes %}
            <li class="Dishes-item" data-id="{{ dish.id }}">
                {{ dish.name }} ({% for ingr in dish.ingredients %}{{ ingr }}{% if not forloop.last %},
            {% endif %}{% endfor %})
                <span class="Dishes-price">{{ dish.price }} руб.</span>
                <button class="Dishes-order">Заказать</button>
            </li>
        {% endfor %}
    </ul>
{% endblock %}