{% extends 'front/Base.html' %}

{% load static %}

{% block title %}Order dishes{% endblock %}

{% block include %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Index.css' %}">
{% endblock %}

{% block body_classes %}Index{% endblock %}

{% block content %}
    <ul class="Dishes">
        <li class="Dishes-item">Грибной суп (Грибы, Картофель, Морковь, Сметана, Перец горошек) <button>Заказать</button></li>
        <li class="Dishes-item">Ролл филадельфия (Рис, Сыр Филадельфия, Огурец, Лосось) <button>Заказать</button></li>
        <li class="Dishes-item">Салат Цезарь с креветкой (Салат Айсберг, Креветка, Сухари, Заправка для салата) <button>Заказать</button></li>

        {% for dish in dishes %}
            <li>{{ dish.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}